body {
  background-color: #EDE3E3;
  font-family: sans-serif;
  width: 1000px;
  margin-left: auto;
  margin-right: auto;
  text-align: justify left;
}

.header, .slogan {
  text-align: center;
}

.nav-bar {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-around;
  margin: 1px;
  padding: 1px;
  text-align: center;
  border-top: 4px solid black;
  border-bottom: 4px solid black;
}

.nav-opts {
  display: inline-block;
  padding: 10px;
}

.button {
  background-color: white;
  color: black;
  padding: 14px 30px;
  text-align: center;
  text-decoration: none;
  display: flex;
  font-size: 16px;
  border: 1px solid black;
  transition-duration: 0.4s;
}

.button:hover {
  background-color: #C5CCD2;
  color: black;
  border-radius: 0px 35px 0px;
}

form {
  text-align: center;
}

input[type=text], input[type=tel], input[type=email] {
  width: 50%;
  padding: 14px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid black;
  box-sizing: border-box;
}

input[type=submit] {
  width: 50%;
  background-color: #2B2929;
  color: white;
  padding: 14px 20px;
  margin: 8px 0;
  border: 1px solid black;
  cursor: pointer;
}

select {
  width: 50%;
  padding: 14px 20px;
  border: 1px solid black;
  border-radius: 4px;
  background-color: #f1f1f1;
}

textarea {
  resize: none;
  border: 1px solid black;
}

footer {
  border-top: 2px solid black;
  border-bottom: 2px solid black;
  justify-content: left;
  background-color: #C5CCD2;
  transition-duration: 0.4s;
}

footer {
  border-top: 2px solid black;
  border-bottom: 2px solid black;
  justify-content: left;
  background-color: #C5CCD2;
  transition-duration: 0.4s;
}

footer:hover {
  border-radius: 25px;
}

.services {
  text-align: center;
}

.services-home {
  text-decoration: none;
}
